.buttons-wrapper {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 997;
    width: 100%;
}
.buttons-wrapper a {
    pointer-events: auto;
}
.mg-rg {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}