@media (min-width: 991px) {
    main {
        padding-left: 120px;
    }
}

.logo{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 60%;
    height: auto;
}
.logo2{
    position: relative;
    margin:auto auto auto auto;
    max-width: 25%;
    height: auto;
}

header, main, footer {
    padding-left: 300px;
}

.blue{
    background-color: #2B2950 !important;
}
.secundario{
    color: #145C9E !important;
}
.naveg{
    background-color: #F3E5F5 !important;
    text-align: center !important;
}
.arriba{
    margin-top: 5%;
}
.abajo{
    margin-bottom: 5%;
}
.derecha{
    margin-right: 10%;
}
.derecha2{
    text-align: right !important;
}
.izquierda{
    margin-left: 0%;
}
.izquierda2{
    margin-left: 30%;
}
.medium{
    font-size: 3rem !important;
}
blockquote{
    border-left-color: #145C9E !important;
}
body, .page-footer, .cardn{
    background-color: #FCFFFF !important;
}
h1, h2, h3, h4, h5, h6, p, .blue2, .blue-text{
    color: #2E1C2B !important;
    text-align: justify;
}
#map{
    width: 100%;
    height: 400px;
}

.btn{
    background-color: #145C9E !important;
    text-align: center
}
.white-text{
    color: #FCFFFF !important;
}

.grande{
    font-size: 2em;
}
.medio{
    font-size: 1em !important;
}

.centro-fijo{
    margin-top: -5%;
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: rgba(252,255,255,0.8);
    font-size: 1.2rem;
}
header .material-icons{
    z-index: 999;
}
.modal{
    min-height: 100% !important;
}

.indicator-item.active {
    background-color: #145C9E !important;
}
.vista {
    position: relative;
    z-index: 997;
    top: 0;
}

.fullscreen{
    max-height: 90% !important;
}
.fa{
    margin-left: 3%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.menu-movil{
    max-width: 7%;
}
.interno{
    display: inline-block;
    margin-top: 20%;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 1500px) {
    .grande {
        font-size: 3em;
    }
    .medio{
        font-size: 1.3em !important;
    }
}
@media only screen and (min-width : 1000px) {
    .izquierda{
        margin-left: 10%;
    }
    .izquierda2{
        margin-left: 0%;
    }
    .menu-movil{
        max-width: 7%;
        margin-left: -10%;
    }
    .centro-fijo{
        font-size: 2rem;
    }
}