@media (min-width: 991px) {
    main {
        padding-left: 120px;
    }
}

.logo{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 60%;
    height: auto;
}
.logo2{
    position: relative;
    margin:auto auto auto auto;
    max-width: 25%;
    height: auto;
}

header, main, footer {
    padding-left: 300px;
}

.blue{
    background-color: #10142d !important;
}
.secundario{
    color: #006992 !important;
}
.naveg{
    background-color: #F3E5F5 !important;
    text-align: center !important;
}
.arriba{
    margin-top: 5%;
}
.abajo{
    margin-bottom: 5%;
}
.derecha{
    margin-right: 10%;
}
.derecha2{
    text-align: right !important;
}
.izquierda{
    margin-left: 0%;
}
.izquierda2{
    margin-left: 30%;
}
.medium{
    font-size: 3rem !important;
}
blockquote{
    border-left-color: #006992 !important;
}
body, .cardn{
    background-color: #FCFFFF !important;
}
h1, h2, h3, h4, h5, h6, p, .blue2, .blue-text{
    color: #10142d !important;
    text-align: justify;
}
#map{
    width: 100%;
    height: 400px;
}

.btn{
    background-color: #006992 !important;
    text-align: center
}
.white-text{
    color: #FCFFFF !important;
}

.grande{
    font-size: 2em;
}
.medio{
    font-size: 1em !important;

}

.side-nav a img{
    max-width: 100%;
    height: auto;
    width: auto \9;
}

.centro-fijo{
    position: relative;
    width: 100%;
    background-color: rgba(252,255,255,0.8);
    font-size: 1.2rem;
}
header .material-icons{
    z-index: 999;
}
.modal{
    min-height: 100% !important;
}

.card-reveal{
    opacity: 0.7 !important;
}

.txt-abajo{
    margin-top: 30%;
    margin-left: 30%;
}

.indicator-item.active {
    background-color: #145C9E !important;
}
.vista {
    position: relative;
    z-index: 997;
    top: 0;
}


.fa{
    margin-left: 3%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav{
    background-color: #006992 !important;
}

.fullscreen{
    height: 100% !important;
}

.slider .slides li img {
    display: flex;
    position: relative;
    margin:auto auto auto auto;
}


#casas, #edificios, #urbanismo, #equipamiento{
    margin-top: 5%;
}

.side-nav a img:hover{
    background-color: #F4F9FF !important;
}

.side-nav a:hover{
    background-color: transparent;
}

.txt-footer{
    font-weight: 100;
    line-height: 1rem;
    font-size: 0.75rem;
    color: whitesmoke !important;
}
.small2{
    font-size: 0.75rem;
}

.inmodes{
    display: none;
}

.page-footer{
    background-color: #10142d !important;
}


.interno{
    display: inline-block;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 64px; !important;
}

.iconos{
    margin-top: -3%;
}

.button-collapse{
    display: flex !important;
    margin-right: 2%;
}

.fbk{
    color: #3b5998 !important;
}

.ytb{
    color: #e52d27 !important;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 1500px) {
    .grande {
        font-size: 3em;
    }
    .medio{
        font-size: 1.5em !important;
    }

    .button-collapse{
        margin-left: -45%;
    }

    main{
        margin-left: -15%;
    }
}
@media only screen and (min-width : 1000px) {
    .izquierda{
        margin-left: 10%;
    }
    .izquierda2{
        margin-left: 0%;
    }
    .button-collapse{
        margin-left: -15%;
    }
    .centro-fijo{
        font-size: 2rem;
    }
    main{
        margin-left: -15%;
    }
}