.go a:before,
.go a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.go a:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}

@media (min-width: 991px) {
    main {
        padding-left: 120px;
    }
}
.logo{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 75%;
    height: auto;
}
.side-nav{
    margin-left: 2%;
}

header, main, footer {
    padding-left: 300px;
}

.blue{
    background-color: #2B2950 !important;
}
.secundario{
    color: #145C9E !important;
}
.naveg{
    background-color: #F3E5F5 !important;
}
.arriba{
    margin-top: 5%;
}
.abajo{
    margin-bottom: 5%;
}
.derecha{
    margin-right: 10%;
}
.derecha2{
    text-align: right !important;
}
.izquierda{
    margin-left: 10%;
}
.medium{
    font-size: 3rem !important;
}
blockquote{
    border-left-color: #145C9E !important;
}
body{
    background-color: #FCFFFF !important;
}
h1, h2, h3, h4, h5, h6, p, .blue2, .blue-text{
    color: #2E1C2B !important;
    text-align: justify;
}
#map{
    width: 100%;
    height: 400px;
}

.dropdown-content{
    border: solid #FCFFFF;
}
.btn{
    background-color: #145C9E !important;
    text-align: center
}
.white-text{
    color: #FCFFFF !important;
}

.grande{
    font-size: 2em;
}
.medio{
    font-size: 1em;
}

.centro-fijo{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: rgba(252,255,255,0.8);
}
header .material-icons{
    z-index: 999;
}
.modal{
    min-height: 100% !important;
}

.indicator-item.active {
    background-color: #145C9E !important;
}
.vista {
    position: relative;
    z-index: 997;
    top: 0;
}

.fullscreen{
    max-height: 90% !important;
}
.fa{
    margin-left: 3%;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 1200px) {
    .grande {
        font-size: 3em;
    }
    .medio{
        font-size: 1.4em;
    }
}