<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Noticias</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/todo.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"
        async></script>

<div class="navbar-fixed">
    <nav class="nav_f" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="contacto.html"><i class="material-icons">mail</i></a></li>
                    <li><a><i class="fa fa-facebook small white-text"></i></a></li>
                    <li><a><i class="fa fa-youtube small white-text"></i></a></li>
                    <li><a href="../index.html"><i class="material-icons">home</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul id="slide-out" class="side-nav text-lighten-4 z-depth-2"> <br />

    <a href="../index.html"><img src="../img/LOGO%20OFF.png" class="logo center-align"></a>
    <div class="interno abajo">
        <a href="somos.html"> <img src="../img/NOSOTROS%20ICONO.png" class="logo2"></a>
        <a href="proyectosu.html"> <img src="../img/PROYECTOS%20ICONO.png" class="logo2"></a>
        <a href="inmobiliaria.html"> <img src="../img/INMOBILIARIA%20ICONO.png" class="logo2"></a>
        <a href="noticias.html"> <img src="../img/NOTICIAS%20ICONO.png" class="logo2"></a>
    </div>

    <div class="container center-align arriba">
        <i class="fa fa-facebook small blue-text"></i>
        <i class="fa fa-youtube small blue-text"></i>
        <a href="contacto.html"><p class="flow-text arriba center-align"><strong>CONTACTO</strong></p></a>
    </div>
</ul>

<main>
    <div class="section center-align">
        <div class="container">
            <div class="row noticias">

            </div>
        </div>
    </div>

</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <p class="txt-footer">© 2016 MSMc Arquitectos <br> All rights reserved</p>
            </div>
            <div class="col s4">
                <i class="fa fa-facebook small2 blue-text"></i>
                <i class="fa fa-youtube small2 blue-text"></i>
            </div>
            <div class="col s4">
                <p class="txt-footer">info@msmcarquitectos.com <br> Ibagué, Colombia</p>
            </div>
        </div>
    </div>
</footer>



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>
<script src="../js/todo.js"></script>
<script src="../js/noticias.js"></script>
<script src="https://use.fontawesome.com/2dafc4faf9.js"></script>

</body>
</html>
