<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Quienes somos</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/todo.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="navbar-fixed">
    <nav class="nav_f" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <div class="center">
                    <a  class="  flow-text" href="equipo.html">EL EQUIPO</a>
                    <a class= "izquierda flow-text" href="trabajos.html">TRABAJOS</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="contacto.html">Contacto</a></li>
                        <li><a><i class="fa fa-facebook-square small white-text"></i></a></li>
                        <li><a><i class="fa fa-youtube-square small white-text"></i></a></li>
                        <li><a href="../index.html"><i class="material-icons">home</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<ul id="slide-out" class="side-nav text-lighten-4 z-depth-2"> <br />

    <a href="../index.html"><img src="../img/LOGO%20OFF.png" class="logo center-align"></a>
    <div class="interno abajo">
        <a href="somos.html"> <img src="../img/NOSOTROS%20ICONO.png" class="logo2"></a>
        <a href="proyectosu.html"> <img src="../img/PROYECTOS%20ICONO.png" class="logo2"></a>
        <a href="inmobiliaria.html"> <img src="../img/INMOBILIARIA%20ICONO.png" class="logo2"></a>
        <a href="noticias.html"> <img src="../img/NOTICIAS%20ICONO.png" class="logo2"></a>
    </div>

    <div class="container center-align arriba">
        <i class="fa fa-facebook-square small fbk"></i>
        <i class="fa fa-youtube-square small ytb"></i>
        <a href="contacto.html"><p class="flow-text arriba center-align"><strong>CONTACTO</strong></p></a>
    </div>
</ul>

<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 arriba">
                    <h4 class=" center-align">"La arquitectura es el punto de partida del que quiera llevar a la humanidad hacia un porvenir mejor."</h4><h6 class="center-align abajo">Le Corbusier</h6>
                </div>
                <div class="col s12">
                    <h4>Misión.</h4>
                    <blockquote>
                        <p class="flow-text">Ser empresa líder en arquitectura, diseño urbano y consultoría. Buscamos <strong>diseñar, inspirar y cumplirles</strong> a nuestros clientes, rompiendo esquemas y siendo un referente
                            de calidad con nuestros procesos y nuestros proyectos, siendo siempre coherentes con las necesidades de la sociedad actual.<br></p>
                    </blockquote>
                    <blockquote>
                        <p class="flow-text">En consultoría, ser responsables con los procesos en los que cada uno de nuestros clientes busca orientación, en el buen manejo de sus inversiones y sus proyectos.
                            Ser la empresa líder en estudios de mercado y poder cumplir lo anterior mediante un riguroso proceso avaluatorio.<br><br></p>
                    </blockquote>
                    <blockquote>
                        <p class="flow-text">
                            <strong>Innovar</strong> en aspectos tecnológicos y espaciales rompiendo esquemas y tendencias.<br>
                            <strong>Inspirar</strong> nuevas generaciones y la mística hacia la arquitectura y el buen vivir<br>
                            <strong>Cumplir</strong> con eficiencia y agilidad en nuestros procesos a través de una sólida plataforma tecnológica</p>
                    </blockquote>
                </div>
                <div class="col s12">
                    <h4>Visión.</h4>
                    <blockquote>
                        <p class="flow-text">Consolidarnos en el mercado nacional e internacional en donde a través de la arquitectura, el diseño urbano y la consultoría brindemos las herramientas para
                            el desarrollo cultural, tecnológico y sostenible siempre siendo muy rigurosos con nuestros altos estándares de calidad.</p>
                    </blockquote>
                </div>
                <div class="col s12">
                    <h4>Valores.</h4>
                    <blockquote>
                        <p class="flow-text">Los cuales rigen todas nuestras acciones.<br>
                            <strong>Liderazgo:</strong> un futuro mejor y un hábitat mejor.<br>
                            <strong>Colaboración:</strong> trabajo en equipo.<br>
                            <strong>Honestidad:</strong> transparentes con nuestros clientes y como equipo de trabajo.<br>
                            <strong>Pasión:</strong> comprometernos de corazón con lo que hacemos.<br>
                            <strong>Calidad</strong> Buscamos la excelencia en nuestros procesos y en todo lo que hacemos.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <p class="txt-footer">© 2016 MSMc Arquitectos <br> All rights reserved</p>
            </div>
            <div class="col s4">
                <i class="fa fa-facebook-square small2 white-text"></i>
                <i class="fa fa-youtube-square small2 white-text"></i>
            </div>
            <div class="col s4">
                <p class="txt-footer">info@msmcarquitectos.com <br> Ibagué, Colombia</p>
            </div>
        </div>
    </div>
</footer>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>
<script src="../js/todo.js"></script>
<script src="https://use.fontawesome.com/2dafc4faf9.js"></script>

</body>
</html>
