<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Trabajos</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/todo.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <ul id="slide-out" class="side-nav fixed naveg text-lighten-4 go z-depth-2 center-align grow"> <br />

        <div style="text-align:center;" >
            <img src="../img/LOGO%20OFF.png" class="logo"> <br />
        </div> <br /> <br />
        <li><a  class="text-lighten-2 blue2" href="contacto.html"><div class='row'>
            <div class='grow2 flow-text'><i class="material-icons tiny"> contacts</i>Contacto</div>
        </div></a></li>
        <li><a  class="blue2 text-lighten-2" href="somos.html"><div class='row'>
            <div class='grow2 flow-text'><i class="material-icons tiny"> contacts</i>Nosotros</div>
        </div></a></li>
        <li><a  class="blue2 text-lighten-2" href="programa.html"><div class='row'>
            <div class='grow2 flow-text'><i class="material-icons tiny"> contacts</i>Proyectos</div>
        </div></a></li>
        <li><a  class="blue2 text-lighten-2" href="noticias.html"><div class='row'>
            <div class='grow2 flow-text'><i class="material-icons tiny"> contacts</i>Noticias</div>
        </div></a></li>
        <div class="container center-align arriba">
            <i class="fa fa-facebook small blue-text"></i></a>
            <i class="fa fa-youtube small blue-text"></i>
        </div>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons menu-movil">menu</i></a>
</header>

<main>
    <div class="section">
        <div class="container">
            <div class="row centro-fijo">
                <div class="izquierda">
                    <a  class="text-lighten-2 medio blue2" href="somos.html">Quienes somos </a>
                    <a  class="text-lighten-2 medio blue2" href="equipo.html">El equipo </a>
                    <a  class="text-lighten-2 grande blue2" href="trabajos.html">Trabajos</a>
                </div>
            </div>
            <div class="row arriba">
                <div class="col s12 trabajos">

                </div>
            </div>
        </div>
    </div>

</main>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>
<script src="../js/todo.js"></script>
<script src="../js/trabajos.js"></script>
<script src="https://use.fontawesome.com/2dafc4faf9.js"></script>

</body>
</html>
